html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*  */
.card {
  transition: 0.3s;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  max-width: 280px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.3);
  transform: scale(1);
}

.text-wrap {
  padding: 20px;
}

.text-wrap h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.text-wrap p {
  line-height: 1.5;
}

figure {
  position: relative;
  margin: 0;
}

.figure img {
  width: 100%;
}

.play-button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #004fff url(../img/icon-play.png) center no-repeat;
  background-size: 20px;
  z-index: 2;
}